<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tasks/css/filter.css' %}">
</head>
<body>
    <form method="GET" action="/day/">
    <label for="date">Choose the date:</label>
    <input type="date" id="date" name="date" required>
    <input class="btn btn-info special" type="submit" value="Filter Tasks">
</form>

<div class="todo-list">
        {% for task in tasks %}
        <span>Added: {{task.created}}</span>
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id%}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
            <a class="btn btn-sm btn-success" href="{% url 'complete_task' task.id %}">Complete</a>
            {% if task.complete == True %}
            <s>{{task}}</s>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>