{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tasks/css/site.css' %}">
</head>
{% if request.user.is_authenticated%}
    <p class="greating">Welcome back, {{request.user}}<a class="sign-out" href="{% url 'sign_out' %}">Sign out</a></p>
{% else %}
    <a href="">Sign in</a>
    <a href="">Sign up</a>
{% endif %}
<hr>
<div class="center-column">
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-info submit" type="submit" name="Create Task">
    </form>
    <a class="btn btn-sm btn-success filter" type="submit" href="{% url 'list_by_day'%}">Filter</a>
    <div class="todo-list">
        {% for task in tasks %}
        <span>Added: {{task.date}}  {{task.created}} </span>
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id%}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
            <a class="btn btn-sm btn-success" href="{% url 'complete_task' task.id %}">Complete</a>
            {% if task.complete == True %}
            <s>{{task}}</s>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>